# Ignore egg-info directory
*.egg-info/

# Ignore build directory
build/

# Ignore all ending with __pycache__ directory
__pycache__/

# ignore all files ending with .job
*.job
*.lmdb
*.lmdb-lock
.nfs*

# Ignore all unuseful files
benchmarks/diffab/
8gpu_cluster.yaml
nohup.out
wandb/
data/rabd/pdb/
data/absci_her2_zs/

config/

scripts/design/
scripts/test/
scripts/circe/
scripts/hpc/

results/

notebooks/
evaluation/
pymol/