# Ignore egg-info directory
*.egg-info/

# Ignore build directory
build/

# Ignore all ending with __pycache__ directory
__pycache__/

# ignore all files ending with .job
*.txt
*.job
*.lmdb
*.lmdb-lock
.nfs*

# Ignore all unuseful files
benchmark.py
benchmark2.py
plot_evol.py
benchmarks/diffab/
8gpu_cluster.yaml
nohup.out
wandb/
data/rabd/pdb/
data/absci_her2_zs/
checkpoints/
config/
abflow/model/loss_old.py
abflow/model/loss_temp.py

scripts/design/
scripts/test/
scripts/circe/
scripts/hpc/
scripts/analysis/

results/
heatmaps/
notebooks/
evaluation/
pymol/
benchmarks/
data/