# Ignore egg-info directory
*.egg-info/

# Ignore build directory
build/

# Ignore all ending with __pycache__ directory
__pycache__/

# ignore all files ending with .job
*.job

# cloned packages
benchmarks/diffab/
8gpu_cluster.yaml
nohup.out
wandb/
data/rabd/pdb/
config/
scripts/design/
scripts/analysis/
scripts/circe/
scripts/hpc/